/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@import url("https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css");

@font-face {
  font-family: "Source Code Pro";
  font-weight: 400;
  font-style: normal;
  src: url("../../static/fonts/SourceCodePro/SourceCodePro-Regular.ttf")
    format("ttf");
}

@font-face {
  font-family: "Source Code Pro";
  font-weight: 700;
  font-style: normal;
  src: url("../../static/fonts/SourceCodePro/SourceCodePro-Bold.ttf")
    format("ttf");
}

@font-face {
  font-family: "Source Code Pro";
  font-weight: 400;
  font-style: italic;
  src: url("../../static/fonts/SourceCodePro/SourceCodePro-Italic.ttf")
    format("ttf");
}

@font-face {
  font-family: "Source Code Pro";
  font-weight: 700;
  font-style: italic;
  src: url("../../static/fonts/SourceCodePro/SourceCodePro-BoldItalic.ttf")
    format("ttf");
}

@font-face {
  font-family: "Noto Sans SC";
  font-weight: 300;
  font-style: normal;
  src: url("../../static/fonts/NotoSansSc/NotoSans_SemiCondensed-Light.ttf")
    format("ttf");
}

@font-face {
  font-family: "Noto Sans SC";
  font-weight: 300;
  font-style: italic;
  src: url("../../static/fonts/NotoSansSc/NotoSans_SemiCondensed-LightItalic.ttf")
    format("ttf");
}

@font-face {
  font-family: "Noto Sans SC";
  font-weight: 400;
  font-style: normal;
  src: url("../../static/fonts/NotoSansSc/NotoSans_SemiCondensed-Regular.ttf")
    format("ttf");
}

@font-face {
  font-family: "Noto Sans SC";
  font-weight: 400;
  font-style: italic;
  src: url("../../static/fonts/NotoSansSc/NotoSans_SemiCondensed-Italic.ttf")
    format("ttf");
}
@font-face {
  font-family: "Noto Sans SC";
  font-weight: 500;
  font-style: normal;
  src: url("../../static/fonts/NotoSansSc/NotoSans_SemiCondensed-SemiBold.ttf")
    format("ttf");
}

@font-face {
  font-family: "Noto Sans SC";
  font-weight: 500;
  font-style: italic;
  src: url("../../static/fonts/NotoSansSc/NotoSans_SemiCondensed-SemiBoldItalic.ttf")
    format("ttf");
}

@font-face {
  font-family: "Noto Sans SC";
  font-weight: 700;
  font-style: normal;
  src: url("../../static/fonts/NotoSansSc/NotoSans_SemiCondensed-Bold.ttf")
    format("ttf");
}

@font-face {
  font-family: "Noto Sans SC";
  font-weight: 700;
  font-style: italic;
  src: url("../../static/fonts/NotoSansSc/NotoSans_SemiCondensed-BoldItalic.ttf")
    format("ttf");
}

:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-color-term-title: #1971c2;
  --ifm-code-font-size: 95%;
  --ifm-font-size-base: var(--ant-font-size-base, 14px);

  /* 标题字体大小 */
  --ifm-h1-font-size: var(--ant-font-size-heading-1, 38px);
  --ifm-h2-font-size: var(--ant-font-size-heading-2, 30px);
  --ifm-h3-font-size: var(--ant-font-size-heading-3, 24px);
  --ifm-h4-font-size: var(--ant-font-size-heading-4, 20px);
  --ifm-h5-font-size: var(--ant-font-size-heading-5, 16px);
  --ifm-h6-font-size: var(--ant-font-size-heading-6, 14px);
  --ifm-font-family-base: "Noto Sans SC";
  --ifm-heading-font-family: "Noto Sans SC";
  --ifm-font-family-monospace: "Source Code Pro";
  --ifm-color-italic: var(--ifm-color-emphasis-600);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}
/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --ifm-color-term-title: #48abfa;
  --ifm-color-italic: var(--ifm-color-emphasis-400);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.code-block-important {
  background-color: #ff000020;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  border-left: 3px solid #ff000080;
}

.header-github-link::before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background-color: var(--ifm-navbar-link-color);
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
  transition: background-color var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

.header-github-link:hover::before {
  background-color: var(--ifm-navbar-link-hover-color);
}

.navbar {
  height: 64px;
}

.navbar__brand {
  font-size: 18px;
}

.navbar__link {
  font-size: 18px;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0 0 var(--ifm-list-margin);
}

em {
  color: var(--ifm-color-italic);
}

.alert--thinking {
  --ifm-alert-background-color: #e6fffb;
  --ifm-alert-background-color-highlight: #b5f5ec;
  --ifm-alert-foreground-color: var(--ifm-color-secondary-contrast-foreground);
  --ifm-alert-border-color: #36cfc9;
}

.alert--nerd {
  --ifm-alert-background-color: #ffd6e7;
  --ifm-alert-background-color-highlight: #fff0f6;
  --ifm-alert-foreground-color: var(--ifm-color-secondary-contrast-foreground);
  --ifm-alert-border-color: #f759ab;
}

table {
  display: table;
  width: initial;
  margin: 20px auto;
}

thead {
  text-align: center;
}

tr {
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #f4f4f4;
}

table th {
  padding: 8px;
  border: none;
  text-align: center;
}

table td {
  padding: 8px;
  border: none;
}

table thead tr {
  border: none;
}

table tr:nth-child(2n) {
  background-color: var(--ifm-table-background);
}
